@if (!finalPage) {
<div class="container grid">
  <div class="col-12 p-5">
    <div
      class="container-paper"
      style="background-color: aliceblue; width: 100%"
    >
      @if (!selectRegalo) {
      <div class="grid">
        <div class="col-12 first-form">
          <h2 class="text-center">!Confirma tu asistencia!</h2>
          <div class="grid">
            <div class="col-12">
              <label class="mb-2 font-bold" for="nombre">Nombre:</label>
              <input
                style="width: 100%"
                pInputText
                id="nombre"
                [(ngModel)]="confirmarInvitado.nombre"
              />
            </div>
            <div class="col-12">
              <label class="mb-2 font-bold" for="acompanantes">
                N° de acompañantes:
              </label>
              <p-inputNumber
                [style]="{ width: '100% !important' }"
                styleClass="w-full"
                [(ngModel)]="confirmarInvitado.acompanantes"
                [showButtons]="true"
                inputId="acompanantes"
                [min]="0"
                [max]="5"
              />
            </div>
          </div>
          <div class="grid">
            <div class="col">
              @if (showAlert1) {
              <div class="alerta1 text-center">
                <span>Ingresa tu nombre para continuar.</span>
              </div>
              }
            </div>
          </div>
          <div class="grid mt-3">
            <div class="col text-center" style="font-family: 'Germania One'">
              <p-button
                [style]="{ 'font-family': 'Germania One' }"
                styleClass="button-font"
                label="Confirmar"
                [outlined]="true"
                (onClick)="confirmarAsistencias()"
              />
            </div>
          </div>
        </div>
      </div>
      } @if (selectRegalo) {
      <div class="grid">
        <div class="col text-center">
          <h2>!Lista de regalos!</h2>
          <p class="texto-first">
            Gracias por ser parte de este momento<br />
            tan especial para mis papitos y para mi.<br />
            Así como serás único en mi vida,<br />
            también quiero que tu regalo lo sea.<br />
            <br />
            Te invito a seleccionar un regalito de<br />
            tu agrado.<br />
            <br />

            ¡Tu regalito será nuestro secreto!...
          </p>
        </div>
      </div>

      <div class="grid">
        <div class="col-12">
          <p-accordion>
            @for (itemC of listaC; track $index) {
            <!-- [header]="itemC.categoria" -->
            <p-accordionTab style="font-family: 'Germania One', serif">
              <ng-template pTemplate="header">
                <span class="flex align-items-center gap-2 w-full">
                  <p-avatar image="{{ itemC.icon }}" />
                  <span class="font-bold white-space-nowrap">
                    {{ itemC.categoria }}
                  </span>
                </span>
              </ng-template>
              @for (item of listRegalos; track $index) { @if (itemC.categoria ==
              item.categoria) {
              <div class="grid">
                <div class="col-12">
                  @if (item.categoria !== 'Pañales y Pañitos *') {

                  <p-radioButton
                    [disabled]="item.cantidad! == 0"
                    name="{{ item.nombre }}"
                    [value]="item.id"
                    inputId="{{ item.id }}"
                    [(ngModel)]="selectC"
                  >
                  </p-radioButton>
                  <label
                    style="font-family: 'Alice', serif"
                    [for]="item.id"
                    class="ml-2"
                  >
                    {{ item.nombre }}
                  </label>
                  @if (item.cantidad! == 0) {

                  <label style="color: rgb(99, 17, 17)"> - No disponible</label>
                  } } @else {
                  <p-radioButton
                    [disabled]="item.cantidad! == 0"
                    name="{{ item.nombre }}"
                    [value]="item.id"
                    inputId="{{ item.id }}"
                    [(ngModel)]="selectCPanales"
                  >
                  </p-radioButton>
                  <label
                    style="font-family: 'Alice', serif"
                    [for]="item.id"
                    class="ml-2"
                  >
                    {{ item.nombre }}
                  </label>
                  @if (item.cantidad! == 0) {

                  <label style="color: rgb(99, 17, 17)"> - No disponible</label>
                  } }
                </div>
              </div>

              } }
            </p-accordionTab>
            }
          </p-accordion>
        </div>
      </div>
      <div class="grid">
        <div class="col">
          @if (showAlert2) {
          <div class="alerta1 text-center">
            <span>
              Recuerda que los mas importate son los pañales o pañitos<br />
              por favor selecciona una opción.
            </span>
          </div>
          }
        </div>
      </div>
      <div class="grid">
        <div class="col text-center">
          <p-button
            [style]="{ 'font-family': 'Germania One' }"
            styleClass="button-font"
            label="Enviar"
            [outlined]="true"
            (onClick)="confirmarRegalo()"
          />
        </div>
      </div>
      }
    </div>
  </div>
</div>
} @else {

<div class="grid">
  <div class="col">
    <div class="bordes-final">
      <img class="borde-1" src="./assets/img/borde-Photoroom.png" alt="" />
      <img class="borde-2" src="./assets/img/borde-Photoroom.png" alt="" />
    </div>
    <div class="grid">
      <div class="col-12 texto-re">
        <main role="main" class="main-content" id="main-content">
          <div class="grid">
            <div class="col-12 img-harry">
              <img src="./assets/img/Harry.png" alt="" />
            </div>
          </div>
          <div class="titleCont">
            <h1 class="main-title" id="main-title">
              Estás son las opciones<br /><span>que has elegido:</span>
              @for (item of regalosSeleccionados; track $index) {

              <br /><span style="padding-left: -20px">"{{ item.nombre }}"</span>
              }

              <br /><span>Te esperamos!!!</span>
            </h1>
          </div>
          <canvas id="noise" class="noise"></canvas>
          <div class="vignette"></div>
        </main>
      </div>
    </div>
  </div>
</div>
}

<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  size="medium"
  [fullScreen]="true"
  template="
    <img src='./assets/img/carga1.gif' />
  "
></ngx-spinner>
