.container {
    font-family: 'Merienda';

    .container-paper {
        background-image: url("/assets/img/cartaV1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-origin: inherit;
        background-attachment: fixed;

        padding: 30px;
    }
}
