<div class="container grid" (click)="goList()">
  <div class="col-12 p-5">
    <div class="container-paper">
      <div class="carta">
        <img src="./assets/img/Pergamino carta.png" />
      </div>
      <div class="decoracion1">
        <img src="./assets/img/MarcoCarta.png" alt="" />
      </div>

      <div class="img-escudos">
        <img class="snich-d" src="./assets/img/snichDorada.gif" alt="" />
        <img class="banderas-c" src="./assets/img/banderasCasa.png" alt="" />
      </div>

      <div class="texto-inicial">
        <div class="grid">
          <div class="col-12 text-center">
            <p class="text1">
              Un paquete mágico <br />
              viene en camino ...
            </p>
            <p class="text2">ACOMPAÑANOS A CELEBRAR EL</p>
            <p class="text3">BABY SHOWER</p>
            <p class="text4">DE UN NUEVO MAGO</p>
          </div>
        </div>
      </div>
      <div class="decoracion2">
        <img src="./assets/img/pergaminoImagen.png" alt="" />
      </div>
      <div class="ubicación-texto">
        <div class="grid">
          <div class="col-4">
            <p
              style="
                font-family: 'Henny Penny', serif;
                font-size: 50px;
                padding: 0px;
                margin: 0px;
                line-height: 35px;
                margin-top: 30px;
              "
            >
              1
            </p>
            <p
              style="
                font-family: 'Henny Penny', serif;
                font-size: 20px;
                padding: 0px;
                margin: 0px;
              "
            >
              febrero
            </p>
          </div>
          <div class="col-4 text-center">
            <p>
              Conjunto residencial <br />
              Quintas de Lombardia <br /><br />
              Calle 151c # 109 - 50 <br />
            </p>
          </div>
          <div class="col-4 text-center">
            <p
              style="
                font-family: 'Henny Penny', serif;
                font-size: 50px;
                padding: 0px;
                margin: 0px;
                line-height: 35px;
                margin-top: 30px;
              "
            >
              3
            </p>
            <p
              style="
                font-family: 'Henny Penny', serif;
                font-size: 20px;
                padding: 0px;
                margin: 0px;
              "
            >
              PM
            </p>
          </div>
        </div>
      </div>
      <div class="aceptar-invitacion">
        <div class="grid">
          <div class="col-12 text-center">
            <a>Para continuar has click!!</a>
          </div>
        </div>
      </div>
      <div class="separacion"></div>
      <div class="pluma">
        <img src="./assets/img/pluma.png" alt="" />
      </div>
    </div>
  </div>
</div>
