.container {
  .container-paper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 3rem;

    .carta {
      position: absolute;
      animation: fade-in;
      animation-fill-mode: forwards;
      animation-duration: 2s;
      img {
        width: 100%;
        height: 75%;
      }
    }

    .decoracion1 {
      position: absolute;
      top: 25%;
      left: 26%;
      animation: fade-in;
      animation-fill-mode: forwards;
      animation-duration: 2s;
      img {
        width: 60%;
      }
    }

    .img-escudos {
      .snich-d {
        position: absolute;
        top: 3%;
        left: 20%;
        width: 60%;
      }
      .banderas-c {
        position: absolute;
        top: 24%;
        left: 5%;
        width: 19%;
      }
    }

    .texto-inicial {
      top: 27%;
      position: absolute;
      font-family: "Germania One", serif;
      text-align: center;
      animation: fade-in;
      animation-fill-mode: forwards;
      animation-duration: 6s;
      p {
        padding: 0px;
        margin: 0px;
      }
      .text1 {
        margin-top: 15px;
        font-size: 25px;
      }
      .text2 {
        font-size: 20px;
        margin-top: 15px;
      }
      .text3 {
        font-size: 31px;
      }
      .text4 {
        font-size: 20px;
      }
    }
    .decoracion2 {
      .per-1 {
        position: absolute;
        top: 47%;
        left: 35%;
        animation: fade-in;
        animation-fill-mode: forwards;
        animation-duration: 7s;
        width: 28%;
      }
      .per-2 {
        position: absolute;
        top: 44%;
        left: 75%;
        animation: fade-in;
        animation-fill-mode: forwards;
        animation-duration: 7s;
        width: 16%;
      }

      .per-3 {
        position: absolute;
        top: 44%;
        left: 5%;
        animation: fade-in;
        animation-fill-mode: forwards;
        animation-duration: 7s;
        width: 25%;
      }
    }
    .ubicación-texto {
      top: 60%;
      position: absolute;
      font-family: "Alice", serif;
      font-size: 14px;
      text-align: center;
      animation: fade-in;
      animation-fill-mode: forwards;
      animation-duration: 8s;
    }

    .aceptar-invitacion {
      position: absolute;
      top: 80%;
      font-family: "Sancreek", serif;
      z-index: 1;
      font-size: 20px;
      animation: fade-in;
      animation-fill-mode: forwards;
      animation-duration: 8s;
    }
    .separacion {
      position: absolute;
      border: 2px solid black;
      width: 60%;
      top: 85%;
      animation: fade-in;
      animation-fill-mode: forwards;
      animation-duration: 2s;
    }
    .pluma {
      img {
        width: 10%;
        position: absolute;
        top: 68%;
        left: 84%;
        animation: fade-in;
        animation-fill-mode: forwards;
        animation-duration: 2s;
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 389px) {
  .decoracion2 {
    .per-1 {
      top: 51% !important;
      left: 37% !important;
      width: 22% !important;
    }
    .per-2 {
      top: 50% !important;
      left: 67% !important;
      width: 16% !important;
    }
  }
  .aceptar-invitacion {
    top: 82% !important;
  }

  .separacion {
    top: 85% !important;
  }
}

@media only screen and (min-width: 390px) and (max-width: 430px) {
  .aceptar-invitacion {
    top: 82% !important;
  }
  .separacion {
    top: 85% !important;
  }
  .pluma {
    top: 66% !important;
  }
  .aceptar-invitacion {
    top: 77% !important;
  }

  .per-1 {
    top: 51% !important;
    left: 39% !important;
    width: 22% !important;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
