.container {
  font-family: "Merienda";
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 3rem;

  .container-letter {
    position: relative;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    .buho {
      position: absolute;
      top: -250px;
      left: -20;
      img {
        width: 100%;
      }
    }

    .cover {
      position: absolute;
      border-left: 190px solid transparent;
      border-right: 190px solid transparent;
      border-top: 130px solid rgb(214, 179, 102);
      border-bottom: 130px solid transparent;

      transform-origin: top;
      transition: transform 0.75s;
    }

    .letter {
      border-left: 190px solid rgb(229, 195, 120);
      border-right: 190px solid rgb(229, 195, 120);
      border-top: 130px solid transparent;
      border-bottom: 130px solid rgb(223, 189, 117);
    }

    .sello {
      position: absolute;
      z-index: 0;
      left: 42%;
      top: 40%;
      img {
        width: 25%;
      }
    }

    .paper {
      border-radius: 2%;
      background-color: antiquewhite;
      width: 380px;
      height: 260px;
      position: absolute;
      z-index: -1;
    }
  }
}

@keyframes initAnimation {
  from {
    width: 0px;
  }
  to {
    width: 380px;
  }
}

.open-cover {
  transform: rotateX(180deg);
  z-index: -1;
}

.open-paper {
  animation-name: upPaper;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.up-buho {
  animation-name: upBuho;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes upPaper {
  from {
    top: 0px;
  }
  to {
    top: -100px;
  }
}

@keyframes upBuho {
  from {
    top: -250px;
  }
  to {
    top: -380px;
  }
}

.cont-gafas {
  display: flex;
  justify-content: center;
  img {
    width: 25%;
  }
}

.btn {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "Merienda";
  font-size: 25px;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
  color: rgb(255, 255, 255);
  text-shadow: #fc0 1px 0 15px;
  transition: all 100ms;
  overflow: hidden;
  height: 80px;
  width: 190px;
}

.left-span {
  position: absolute;
  left: 0;
  height: 50px;
  width: 15px;
  border-top: 1px rgb(186, 190, 173);
  border-bottom: 1px rgb(186, 190, 173);
  border-left: 1px rgb(186, 190, 173);
  transition: all 500ms;
}

.right-span {
  position: absolute;
  right: 0;
  height: 50px;
  width: 15px;
  border-top: 1px rgb(186, 190, 173);
  border-bottom: 1px rgb(186, 190, 173);
  border-right: 1px rgb(186, 190, 173);
  transition: all 500ms;
}

.text-btn {
  position: absolute;
  transform: translateX(0px);
  width: 110px;
  transition: all 200ms;
}

.hidden-text-btn {
  position: absolute;
  transform: translateX(150px);
  opacity: 0;
  transition: all 200ms;
}

.btn:hover .text-btn {
  transform: translateX(-150px);
  opacity: 0;
}

.btn:hover .hidden-text-btn {
  transform: translateX(0px);
  opacity: 1;
}

.btn:hover .right-span,
.btn:hover .left-span {
  width: 100%;
}

.close-page {
  animation-name: fade-out;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

.final-close {
  display: none;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
