<div class="container">
  <div class="grid">
    <div class="col">
      <div class="grid">
        <div class="col">
          <div class="grid">
            <div class="col">
              <main>
                <div class="container-letter" style="margin-top: 150px">
                  <div class="cover"></div>
                  <div class="buho">
                    <img
                      src="assets/img/buho-de-harry-potter-animales_0-Photoroom.png"
                      alt=""
                    />
                  </div>
                  <span class="sello">
                    <img src="assets/img/selloHarryPotter.png" alt="" />
                  </span>
                  <div class="paper">
                    <div class="grid p-3">
                      <div class="col">
                        <p class="text-center">Hogwarts te invita!!</p>
                        <p class="text-center">
                          Al nacimiento de una nueva familia de magos.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="letter" (click)="changePage()"></div>
                </div>
                <div class="options">
                  <button class="btn btn-open" (click)="abrirCarta()">
                    <span class="left-span"></span>
                    <p class="text-btn">Abre la invitación</p>
                    <p class="hidden-text-btn">Gracias!!</p>
                    <span class="right-span"></span>
                  </button>
                </div>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-scale-party"
  [fullScreen]="true"
  ><p style="color: white"></p
></ngx-spinner>
